html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
}

@font-face {
  font-family: 'StarJedi';
  src: url('../public/fonts/StarJedi-DGRW.woff2') format('woff2'),
  url('../public/fonts/StarJedi-DGRW.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StarJediOutline';
  src: url('../public/fonts/StarJediOutline-y0xm.woff2') format('woff2'),
  url('../public/fonts/StarJediOutline-y0xm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StarJediHollow';
  src: url('../public/fonts/StarJediHollow-A4lL.woff2') format('woff2'),
  url('../public/fonts/StarJediHollow-A4lL.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StarJediRounded';
  src: url('../public/fonts/StarJediRounded-jW3R.woff2') format('woff2'),
  url('../public/fonts/StarJediRounded-jW3R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.star_wars_font {
  font-family: StarJedi, News Gothic, NewsGothic, AppleGothic, sans-serif;
}

.star_wars_outline_font {
  font-family: StarJediOutline, StarJedi, News Gothic, NewsGothic, AppleGothic, sans-serif;
}

.star_wars_hollow_font {
  font-family: StarJediHollow, StarJedi, News Gothic, NewsGothic, AppleGothic, sans-serif;
}

.star_wars_rounded_font {
  font-family: StarJediRounded, StarJedi, News Gothic, NewsGothic, AppleGothic, sans-serif;
}

#__next {
  position: relative;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
