html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'StarJedi';
  src: url('../public/fonts/StarJedi.eot');
  src: url('../public/fonts/StarJedi.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/StarJedi.woff2') format('woff2'),
  url('../public/fonts/StarJedi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StarJediOutline';
  src: url('../public/fonts/StarJediOutline.eot');
  src: url('../public/fonts/StarJediOutline.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/StarJediOutline.woff2') format('woff2'),
  url('../public/fonts/StarJediOutline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StarJediHollow';
  src: url('../public/fonts/StarJediHollow.eot');
  src: url('../public/fonts/StarJediHollow.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/StarJediHollow.woff2') format('woff2'),
  url('../public/fonts/StarJediHollow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StarWarsLC';
  src: url('../public/fonts/StarWarsLC.eot');
  src: url('../public/fonts/StarWarsLC.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/StarWarsLC.woff2') format('woff2'),
  url('../public/fonts/StarWarsLC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.star_wars_font {
  font-family: StarJedi, News Gothic, NewsGothic, AppleGothic, sans-serif;
}

.star_wars_outline_font {
  font-family: StarJediOutline, StarJedi, News Gothic, NewsGothic, AppleGothic, sans-serif;
}

.star_wars_hollow_font {
  font-family: StarJediHollow, StarJedi, News Gothic, NewsGothic, AppleGothic, sans-serif;
}

.star_wars_lc {
  font-family: StarWarsLC, StarJedi, News Gothic, NewsGothic, AppleGothic, sans-serif;
}

#__next {
  position: relative;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
